
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <title>Create Exam</title>

    <link href="/stylesheets/exam.css" rel="stylesheet" media="all">
</head>

<body>
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="/organisation-home/<%= user._id %>"  class="logo">Exam Portal</a>
        <!-- <a href="#"  class="logo">Exam Portal</a> -->
        <ul class="main-nav" style="margin-top: 10px;" id="js-menu">
            <li>
                <a href="/exam/new" class="nav-links">Create an Exam</a>
            </li>
        </ul>
    </nav>
    
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <form action="/exam/new/<%= user._id %>" method="POST">
                            <div class="col-1.5">
                                <div class="input-group">
                                    <label class="label">Name of the Exam</label>
                                    <input class="input--style-4" type="text" placeholder="" name="name">
                                    <input type="hidden" name="Name" value="<%= user.Name %>">
                                </div>
                            </div>
                            
                        <!-- </div> -->
                        <div class="col-1.5">
                            <div class="input-group">
                                <label class="label">Description of the Exam
                                </label>
                                <input class="input--style-4" type="text" placeholder="" name="description">
                            </div>
                        </div>
                        <!-- <div class="row row-space"> -->
                            <div class="col-1">
                                <div class="input-group">
                                    <label class="label">Paste the registration Link</label>
                                    <input class="input--style-4" type="text" placeholder="" name="link">
                                </div>
                            </div>
                            
                        <!-- </div> -->
                        <div class="row row-space">
                            <div class="col-3">
                                <div class="input-group">
                                    <label class="label">Date</label>
                                    <input style="padding: 0px 20px;" class="input--style-4" min= todayDate type="date" name="date">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <label class="label">Start Time</label>
                                    <input class="input--style-4" type="time" name="startTime">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group">
                                    <label class="label">End Time</label>
                                    <input class="input--style-4" type="time" name="endTime">
                                </div>
                            </div>
                            
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Medium</label>
                                    <input class="input--style-4" type="text" name="medium">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group form-check">
                                    <input style="size: 28px;margin-top: 42px;" type="checkbox"  name="isPrivate" class="form-check-input" id="exampleCheck1">
                                    <label style="margin-top: -20px;" class="label" >Private</label>
                                  </div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;margin-top: 20px;">
                            <button style="background-color: #e79f39;color: #000;" class="btn btn--radius-2 btn--blue"  type="submit">Create the Exam</button>
                        </div>
                        <br>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var today = new Date();
        var dd = today. getDate();
        var mm = today. getMonth()+1; //January is 0 so need to add 1 to make it 1!
        var yyyy = today. getFullYear();
        if(dd<10){
        dd='0'+ dd; 
        }
        todayDate = yyyy+"-"+mm+"-"+dd;
    </script>

</body>
</html>
