<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/7414e22221.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="stylesheets/login.css">
	<title>Login</title>
</head>

<body>
	<section id="hero">
		<div class="container hero-wrap">
			<div class="quote-wrap">
				<h1 style="font-size: 32px;">Welcome to Exam Portal</h1><br>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident tempora blanditiis explicabo
					ducimus, expedita rerum reprehenderit, facere beatae est qui impedit perfere ndisexplicabo ducimus,
					expedita rerum reprehenderit.</p>
			</div>
			<div class="login-wrap">
				<div class="login-wrap-box">
					<div class="login-title">
						<h3>Login</h3>
						<p>Sign in to your account to continue</p>
					</div>

					<form action="/login" method="POST">
						<p>
							<input type="datetime-local" name="datetime" id=" ">
							<label for="email">Email address</label>
							<input type="email" name="email" placeholder="name@example.com">
						</p>
						<p>
						<div class="d-flex">
							<label for="password">Password</label>
							<a href="/forget-password">Forgot password?</a>
						</div>
						<input id="password-field" name="password" type="password" class="form-control"
							placeholder="Password">
						<span toggle="#password-field" style="float: right;
              margin-left: -75px;
              padding-right: 30px;
              margin-top: 12px;
              position: relative;
              z-index: 1;" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</p>
						<p>
							<button class="btn-submit" type="submit">Sign in</button>
						</p>
					</form>

					<p style="text-align: center;" class="not-regis">Not registered?</p>
					<span>
						<p style="text-align: center;" class="not-regis"><a href="/student_register">Register as a
								Student</a> or <a href="/organisation_register">Register as an organisation</a></p>
					</span>
				</div>
			</div>
		</div>

	</section>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".toggle-password").click(function () {

				$(this).toggleClass("fa-eye fa-eye-slash");
				var input = $($(this).attr("toggle"));
				if (input.attr("type") == "password") {
					input.attr("type", "text");
				} else {
					input.attr("type", "password");
				}
			});
		});
	</script>
</body>
</html>