<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7414e22221.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>Confirm Password</title>
</head>
<body>
  <section id="hero">
    <div class="container hero-wrap">
      <div class="login-wrap">
        <div style="margin-top:100px;margin-left: 365px;" class="login-wrap-box">
          <div class="login-title">
            <h3 style="margin-bottom: 8px;">Reset your password</h3>
            <p >Enter a new password and <br>confirm it to continue to login</p>
          </div>

          <form action="/reset-password" method="POST">
            <p>
                <div class="d-flex">
                  <label for="password">Enter a new password</label>
                </div>
                
                <input id="password-field" name="password" type="password" class="form-control" placeholder="New password" >

                <span toggle="#password-field" style="float: right;
                margin-left: -75px;
                padding-right: 30px;
                margin-top: 12px;
                position: relative;
                z-index: 1;" class="fa fa-fw fa-eye field-icon toggle-password"></span> 
                
              </p>
              <p>
                <div class="d-flex">
                  <label for="password">Re-enter the password</label>
                </div>
                <input id="password-field" name = "confirmPassword" type="password" class="form-control" placeholder="Confirm password" >
                <span toggle="#password-field" style="float: right;
                margin-left: -75px;
                padding-right: 30px;
                margin-top: 12px;
                position: relative;
                z-index: 1;" class="fa fa-fw fa-eye field-icon toggle-password"></span> 
                <input type="hidden" name="email" value="<%= email %>">
              </p>
            <p>
              <button class="btn-submit" type="submit">Reset Password</button>
            </p>
          </form>
        
         
         <span> <p style="text-align: center;"class="not-regis"><a href="/login">Login Now</a></p></span>
        </div>
      </div>
    </div>
  </section>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
        $(".toggle-password").click(function() {
    
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
        });
    });
  </script>
</body>
</html>