<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7414e22221.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>Forgot Password</title>
</head>
<body>
  <section id="hero">
    <div class="container hero-wrap">
      <div class="login-wrap">
        <div style="margin-top:100px;margin-left: 365px;" class="login-wrap-box">
          <div class="login-title">
            <h3>Forgot Password?</h3>
            <p>A Verification Code will be sent on your registered Email Address.</p>
          </div>

          <form action="/forget-password" method="POST">
            <p>
              <label for="email">Enter your registered Email Address</label>
              <input type="email" name = "email" placeholder="name@example.com">
            </p>
            <p>
            <p>
              <button class="btn-submit" type="submit">Send Verification Code</button>
            </p>
          </form>
        
         
         <span> <p style="text-align: center;"class="not-regis"><a href="/login">Login Now</a></p></span>
        </div>
      </div>
    </div>
  </section>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="login.js"></script>
</body>
</html>